<div class="container mt-5">
    <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header"><b>Add Employee</b> </div>
        <div class="card-body">
            <div>
                <form [formGroup]="empdata" (ngSubmit)="postData()">
                    <div class="form-group">
                        <label for="empname">Full Name</label>
                        <input type="text" class="form-control" formControlName="empname" name="empname">
                        <span style="color: red;" *ngIf="empname?.invalid && empname?.touched">! Please enter a valid name</span>
                    </div>
                    <div class="form-group">
                        <label for="desig">Designation</label>
                        <input type="text" class="form-control" formControlName="empdesig" name="empdesig">
                        <span style="color: red;" *ngIf="empdesig?.invalid && empdesig?.touched">! Please enter a valid Designation</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Salary</label>
                        <input type="number" class="form-control" formControlName="empsal" name="empsal">
                        <span style="color: red;" *ngIf="empsal?.invalid && empsal?.touched">! Please enter a valid Salary</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Age</label>
                        <input type="number" class="form-control" formControlName="empage" name="empage">
                        <span style="color: red;" *ngIf="empage?.invalid && empage?.touched">! Please enter a valid age</span>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" [disabled]="empdata?.invalid">Submitt</button>
                </form>
            </div>
        </div>
    </div>
</div>