<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" routerLink="register" href="#"><b>Register</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="signin" href="#"><b>Sign-in</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="add" href="#"><b>Add Employee</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="edit" href="#"><b>Edit Employee</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="ems" href="#"><b>EMS</b></a>
    </li>
</ul>
<router-outlet></router-outlet>