<div class="card bg-light mb-3" style="max-width: 30rem;" >
    <div class="card-header"><b>Edit Employee</b> </div>
    <div class="card-body">
        <div>
            <form #editForm="ngForm" (ngSubmit)="submit(editForm)">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="Text" #fname="ngModel" name="fname" required minlength="3" pattern="[a-zA-Z][a-zA-Z ]+"
                        class="form-control" ngModel>
                    <small style="color: tomato;" *ngIf="fname.invalid && fname.touched">*Enter Valid Name</small>
                </div>
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" #designation="ngModel" name="designation" required minlength="3"
                        pattern="[a-zA-Z][a-zA-Z ]+" class="form-control" ngModel>
                    <small style="color: tomato;" *ngIf="designation.invalid && designation.touched">*Enter Valid
                        Designation</small>
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input type="number" #salary="ngModel" name="salary" required minlength="4" maxlength="6"
                        pattern="^(?=[0-9]{4,6}$)0*[1-9][0-9]{3,}$" class="form-control" ngModel>
                    <small style="color: tomato;" *ngIf="salary.invalid && salary.touched">*Enter valid Salary</small>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" #age="ngModel" name="age" class="form-control" required minlength="2"
                        pattern="^(1[89]|[2-9]\d)$" ngModel>
                    <small style="color: tomato;" *ngIf="age.invalid && age.touched">*Enter valid age (should be more
                        than 18yrs)</small>
                </div>
                <button style="margin-right:30px ;" type="submit" class="btn btn-primary"
                    [disabled]="editForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>